services:
  mysql:
    image: mysql:8.0
    container_name: jobflow-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: jobflow_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
  

  api:
    build: .
    container_name: jobflow-api
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mysql


volumes:
  mysql_data:
